<form #employeeForm="ngForm" (ngSubmit)="saveEmployee(employeeForm)">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Create Employee</h3>
  </div>
     <div class="panel-body">

      <div class="form-group">
        <label for="fullName">Full Name</label>
        <input type="text" id="fullName" class="form-control" name="fullName" [(ngModel)]="fullName">
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" id="email" class="form-control" name="email" [(ngModel)]="email">
      </div>

      <div class="form-group">
          <label for="phoneNumber">Phone Number</label>
          <input type="number" id="phoneNumber" class="form-control" name="phoneNumber" [(ngModel)]="phoneNumber">
        </div>

        <div class="form-group">
            <label >Contact Preference</label>
            <div class="form-control">
              <label class="radio-inline">
                  <input type="radio" value="Email" name="Contact-Preference" [(ngModel)]="Email">
                  Email
              </label>
              <label class="radio-inline">
                  <input type="radio" value="Phone" name="Contact-Preference" [(ngModel)]="phone">
                  phoneNumber
              </label>
            </div>
        </div>

      <div class="form-group">
          <label >Gender</label>
          <div class="form-control">
            <label class="radio-inline">
                <input type="radio" value="male" name="gender" [(ngModel)]="male">
                Male
            </label>
            <label class="radio-inline">
                <input type="radio" value="female" name="gender" [(ngModel)]="female">
                Female
            </label>
          </div>
      </div>

      <div class="form-group">
          <div class="form-control">
            <label >
                <input type="checkbox"  name="IsActive" [(ngModel)]="yesss">
                IsActive
            </label>
          </div>
      </div>
     </div>
   
     <div class="panel-footer">
       <button type="submit">Save</button>
    </div>
</div>
</form>
 Angular  Generated Form Model :{{employeeForm.value |json}}

